---
import { getCollection, type CollectionEntry } from "astro:content";
import type { GetStaticPaths, Page } from "astro";

import Link from '../../components/Link.astro';
import MainLayout from '../../layouts/MainLayout.astro';
import PostsList from '../../components/PostsList.astro';

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
	const posts = await getCollection('blog');

	return paginate(posts, {pageSize: 5})
};

type Props = {
  page: Page<CollectionEntry<'blog'>>;
};

const { page } = Astro.props;

---

<MainLayout seo={{ title: 'Blog Posts' }}>
	<!-- <Image src={post.data.cover} alt={post.data.coverAlt} /> -->
	<h1 class="
		text-heading-1 
		mt-8 
		bg-gradient-to-r
			from-pink-600 to-orange-400 
			inline-block 
			text-transparent 
			bg-clip-text">Blog Posts</h1>

	<PostsList posts={page.data} start={page.start + 1}/>
	<div class ="mt-8 flex justify-center  gap-4">
		<div class="w-24 text-end">
			{page.url.prev && (
				<Link href={page.url.prev} rel="prev">
					&lt;&lt Previous
				</Link>
			)}
		</div>
		{page.currentPage}
		<div class='w-24 text-start'>
			{
			  page.url.next && (
				<Link href={page.url.next} rel='prev'>
				  Next &gt;&gt;
				</Link>
			  )
			}
		  </div>
	</div>
</MainLayout>