---
import MainLayout from '../layouts/MainLayout.astro';
// import { Image } from 'astro:assets';

import { slugify, formatDate } from '../js/utils.js';
const { frontmatter } = Astro.props;
const { title, description, date, category, image, imageAlt } = frontmatter;
---
<MainLayout seo={{ title: "`${title}`",  description: "`${description}`"}}>
    <header>
        <div class="container">
            <small>
                <a href={`/category/${slugify(category)}/`} class="badge">{category}</a>
              </small>
              <h1 class="font--gradient">{title}</h1>
            <p>{formatDate(date)}</p>
        </div>
        <img 
            src={image} 
            alt={imageAlt}
            sizes="
                (max-width: 360px) 240px,
                (max-width: 720px) 540px,
                (max-width: 1600px) 720px,
                1600px"
            width="1600"
            height="900"
            loading="lazy"
            decoding="async"
            />
    </header>
    <div class="post-content text-slate-100">
        <div class="content">
            <slot />
        </div>
    </div>
</MainLayout>